{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0 img-rnd" src="https://macmididev-ecomm-ci-fsd.s3.amazonaws.com/media/homepage.jpeg" alt="homepage image - company logo">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5 text-center home-callout">
        <h1 class="font-weight-light">CAM Home &amp; Media</h1>
        <p>
            Have you been dreaming of remodeling your kitchen, bathroom or converting your basement into an awesome media room? How about updating your work space 
            or office? If you’ve answered yes to any of the above or maybe you have another project that we can bring to life. 
        </p>
        <a class="view-now-button view-now-button-h btn btn-warning mb-4" href="{% url 'services' %}">View Now!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <div style="border: 1px solid #999; height: 410px; width: 640px; margin: 0 auto; position: relative;">
    <div style="background: #fff; border-right: 1px solid #999; float: left; padding: 13px; position: absolute; top: 0px; min-height: 41px;">
        <a href="https://www.homeadvisor.com/cost/"><img src="//cdn.homeadvisor.com/images/consumer/costguide/iframe-header.png" alt="HomeAdvisor"/></a>
    </div>
    <h3 style="font-size: 18px; line-height: 1; margin: 0px 0px 8px; width: 465px; position: absolute; left: 160px; top: 10px; height: 23px; box-sizing: border-box; font-family: Helvetica, Arial, sans-serif;">
        <a style="color: #f7901e; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 475px; text-decoration: none; display: inline-block;" rel="nofollow" href="https://www.homeadvisor.com/cost/additions-and-remodels/build-an-addition/">Build an Addition</a>
    </h3>
    <iframe id="cg-widget-iframe" src="https://www.homeadvisor.com/cost/embed/iframe/large/?cgTask=1" style="border: none; width: 100%; display: block; height: 373px; box-sizing: border-box;"></iframe>
    <div style="height: 37px; background: #f2f2f2; border-top: 1px solid #999; text-align: center; color: #666; line-height: 36px; font-size: 12px; font-family: helvetica, arial, sans-serif; box-sizing: border-box; ">
        <a href="https://www.homeadvisor.com/cost/additions-and-remodels/" rel="nofollow" style="color: #5486a3; text-decoration: none; font-weight: bold;">View more Additions | Remodels cost guides</a> 
            or 
        <a href="https://www.homeadvisor.com/cost/" rel="nofollow" style="color: #5486a3; text-decoration: none; font-weight: bold;">View all home projects</a>
    </div>
</div>

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">From kitchens to bathrooms, windows and doors, vinyl siding and roofing, general remodeling and painting. Servicing residential and commercial customers.</p>
      </div>
    </div>


    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Home Services</h2>
            <p class="card-text">Complete interior remodeling and renovation solutions for your home. We pride ourselves in personal attention to detail, quality, and reliability.</p>
          </div>
          <div class="card-footer text-center">
            <a href="{% url 'services' %}?category=remodeling" class="view-now-button btn btn-warning btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Home &amp; Media</h2>
            <p class="card-text">Custom home office setups and builds. we will build the office and configure networks. Be more productive with a personalized home office set up.</p>
          </div>
          <div class="card-footer text-center">
            <a href="{% url 'services' %}?category=tech_support,home_office" class="view-now-button btn btn-warning btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Media Services</h2>
            <p class="card-text">Computer Repairs to display replacements our Computer Technicians can even come to your home and diagnose. repair network issues</p>
          </div>
          <div class="card-footer text-center">
            <a href="{% url 'services' %}?category=tech_support" class="view-now-button btn btn-warning btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->




  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  {% include 'includes/footer.html' %}
  <!-- /FOOTER -->

{% endblock %}


