{% extends "base.html" %}
{% load static %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <div class="header-container">
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Error 404</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>We seem to be having trouble finding that page.</h2>
                <h3>Try this,</h3>
                <div class="mt-4">
                    <a class="d-inline-block" href="{% url 'home' %}">Back to homepage</a>
                    <a class="mr-2 mb-2 d-inline-block" href="{% url 'services' %}">View Services</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}