<div style="border: 1px solid #999; height: 410px; width: 640px; margin: 0 auto; position: relative;">
    <div style="background: #fff; border-right: 1px solid #999; float: left; padding: 13px; position: absolute; top: 0px; min-height: 41px;">
        <a href="https://www.homeadvisor.com/cost/"><img src="//cdn.homeadvisor.com/images/consumer/costguide/iframe-header.png" alt="HomeAdvisor"/></a>
    </div>
    <h3 style="font-size: 18px; line-height: 1; margin: 0px 0px 8px; width: 465px; position: absolute; left: 160px; top: 10px; height: 23px; box-sizing: border-box; font-family: Helvetica, Arial, sans-serif;">
        <a style="color: #f7901e; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 475px; text-decoration: none; display: inline-block;" rel="nofollow" href="https://www.homeadvisor.com/cost/siding/install-siding/">Install Siding</a>
    </h3>
    <iframe id="cg-widget-iframe" src="https://www.homeadvisor.com/cost/embed/iframe/large/?cgTask=219" style="border: none; width: 100%; display: block; height: 373px; box-sizing: border-box;"></iframe>
    <div style="height: 37px; background: #f2f2f2; border-top: 1px solid #999; text-align: center; color: #666; line-height: 36px; font-size: 12px; font-family: helvetica, arial, sans-serif; box-sizing: border-box; ">
    <a href="#" rel="nofollow" style="color: #5486a3; text-decoration: none; font-weight: bold;">Siding cost guide</a>
        | 
    <a href="#" rel="nofollow" style="color: #5486a3; text-decoration: none; font-weight: bold;">Home projects</a>
    </div>
</div>