<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1>Mission</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="m5">
                        YOUR SATISFACTION IS OUR PRIORITY    
                    </p>
                    <p class="m5">
                        Our job is not done untill you are completly satisfied 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>