<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1>About us</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="m5">
                        We are registered contractors in the state of Rhode Island and fully insured. 
                        We have a close group of subcontractors that we trust and use on all of our projects.
                        
                    </p>
                    <p class="m5">
                        Subcontractors consist of masons, electricians, painters, and plumbers, 
                        all of whom are fully licensed and insured and family friends. Since our founding, 
                        we’ve worked with numerous clients throughout the Rhode Island area. Excellent 
                        service begins and ends with experienced and friendly professionals
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>